.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 600px;
  margin: 0 auto;
}
fieldset {
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
  -webkit-padding-after: 0em;
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  min-width: -webkit-min-content;
  padding: 30px;
}
.ghost-input, p {
  display: block;
  font-weight:300;
  width: 100%;
  font-size: 25px;
  border:0px;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #4b545f;
  background: #fff;
  font-family: Open Sans,Verdana;
  padding: 10px 15px;
  margin: 30px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-input:focus {
  border-bottom:1px solid #ddd;
}
.ghost-button {
  background-color: transparent;
  border:2px solid #ddd;
  padding:10px 30px;
  width: 100%;
  min-width: 350px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-button:hover {
  border:2px solid #515151;
}
p {
  color: #E64A19;
}


.navbar-buffer {
  height: 3.5em;
  width: 100%;
  background: orange;
}

.navbar {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0.5px 8px #888888;
  height: 3.5em;
  background: rgb(242,242,242);
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 5px;
  position: fixed;
  flex-basis: 100%;
  width: 100%;
  z-index: 1;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease;
  color: inherit;
  height:100%;
  text-decoration: none;
  padding: 0 15px;

}

#logo {
  /*margin-right: auto;*/
}

.navbar-option:hover {
  background: rgb(229,229,229);
}

#logo img {
  height: 100%;
  object-fit: contain;
}

#hamburger {
  display: none;
}

.hamburger-line {
  width: 25px;
  height: 4px;
  background: black;
  display: block;
  margin-bottom: 3px;
  border-radius: 5px;
  transition: transform 0.3s cubic-bezier(0.6,0.3,0.2,.8),
              opacity 0.3s cubic-bezier(0.6,0.3,0.2,.8);
}

.active-hamburger .hamburger-line:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}

.active-hamburger .hamburger-line:nth-child(2) {
  opacity: 0%
}

.active-hamburger .hamburger-line:last-child {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media screen and (max-width: 600px) {
  .navbar-option {
    height: 2.5em;
    background: rgb(242,242,242);
    order: 1;
    flex-basis: 100%;
    display: none;
    box-shadow: 0px 5px 8px -4px #888888;

  }
  #hamburger { 
    display: flex; 
    flex-direction: column;
  }
  #logo {
    margin-right: auto;
  }
}


.expense-form {
  max-width: 800px;
  margin: 0 auto;
}

.show {
  display: flex;
}
